.tachometer {
    -fx-padding:          5;
    -fx-background-color: rgb(12, 12, 12);
    -base-color:          rgb(2, 138, 204);
}

.tachometer .background-circle {
    -fx-fill: #B7C1C5;
}

.tachometer .propeller{
    -fx-fill: #3C98AC;
}

.tachometer .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size:   24;
    -fx-fill:        black;
}

.tachometer .thumb {
    -fx-fill: #3E82F7;
}

.tachometer .frame {
    -fx-fill      : #A2C5FF;
    -fx-arc-height: 15;
    -fx-arc-width : 15;
}