.tachometer {
    -fx-padding:          5;
    -fx-background-color: rgb(12, 12, 12);
    -base-color:          rgb(2, 138, 204);
}

.tachometer .background-circle {
    -fx-fill: -base-color;
}

.tachometer .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size:   24;
    -fx-fill:        derive(-base-color, 90%);
}

.tachometer .thumb {
    -fx-fill: #3E82F7;
}

.tachometer .frame {
    -fx-fill      : #A2C5FF;
    -fx-arc-height: 15;
    -fx-arc-width : 15;
}

.tachometer .tick {
    -fx-stroke: white;
    -fx-stroke-width: 2;
}

.tachometer .tick-label {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 12;
    -fx-fill: white;
}
